<!DOCTYPE html>
<html lang="en">

<head>
    <script
        src="//platform-api.sharethis.com/js/sharethis.js#property=5c8e45b6da6ca80012e29a9c&product=sticky-share-buttons"></script>
    {% load static contact_tags %}
    {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    {{ form.media }} {# Adds date-picker required JS and CSS #}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{% static 'logo/logo.png' %}" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta charset="ISO-8859-15">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}

    <title>Data Master</title>

    {% block stylesheets %}

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">
    <!--LOAD THEMES-->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/front/classy-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/jquery.fancybox.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/front/theme/slate-gray.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/front/theme/light-sea-green.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/top_header.css' %}">

    <script src="{% static 'js/front/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    {% endblock stylesheets %}
    {% endblock head %}

</head>

<body>

    <header>
        <div class="row" style="margin-right: 1px; background: #e8f5f8 ;">
            <div class="col-lg-12 header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                            <div class="hta-box">
                                <p class="text"><b>{% name %}</b></p>
                            </div>
                            <div class="hta-box">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <p class="text">Call us : {% phone_number %}</p>
                            </div>
                            <div class="hta-box">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                                <p class="text">Email us : {% Emailaddress %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% logo %}" alt="" />
                                </a>

                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="menu">
                                <nav id="mobile_menu_active">
                                    <ul id="menu">
                                        <li><a href="#"><b style="color:black">Features</b><span style="color: black;"
                                                    class="icon fa fa-chevron-down"></span></a>
                                            <ul class="drop">
                                                <li><a href="{% url 'estimates-quotations' %}"><span
                                                            style="font-size: 15px;">Estimates & Quotations</span></a>
                                                </li>
                                                <li><a href="{% url 'accounting-reporting' %}"><span
                                                            style="font-size: 15px;">Accounting & Reporting</span></a>
                                                </li>
                                                <li><a href="{% url 'expenses-management' %}"><span
                                                            style="font-size: 15px;">Expenses & Purchases</span></a>
                                                </li>
                                                <li><a href="{% url 'invoicing-billing' %}"><span
                                                            style="font-size: 15px;">Invoicing & Billing</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><b style="color:black">Get Help</b></a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% if messages %}
                        <div class="col-lg-6" style="float: right">
                            <div class="alert alert-info" id="success-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <ul>
                                    {% for message in messages %}
                                    <h1 style="font-weight: bolder" {% if message.tags %} class="{{ message.tags }}"
                                        {% endif %}>{{ message }}
                                    </h1>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <div class="row" style="margin-right: 1px; background: #e8f5f8 ;">
        <div class="col-lg-12 footer-bottom-area">
            <p class="copyright" style="text-align: center;">
                <span style="font-size:2vw"> Still thinking? What are you waiting for!</span>
                <button class="btn crose-btn" data-toggle="modal" data-animation="fadeInUp" data-delay="700ms"
                    data-target="#date" style=" margin-left:20px">Start For Free
                </button>
            </p>
            <!-- date Modal -->
            <div class="modal fade" id="date" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Data Master</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <section class="page-contact-area">
                                {% load crispy_forms_tags %}
                                <div class="contact-form-area">
                                    <h2 style="text-align: center;" class="text-danger contact-page-title">Request Form
                                    </h2>
                                    <form action="{% url 'feedback' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="contact-input-box">
                                                    <input type="text" name="full_name" id="name" required="required"
                                                        placeholder="Name *">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="contact-input-box">
                                                    <input type="email" name="email" id="email" required="required"
                                                        placeholder="Email *">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="contact-input-box">
                                                    <input type="text" name="subject" id="subject"
                                                        placeholder="Subject">
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="contact-input-box">
                                                    <textarea name="comment" id="message" required="required"
                                                        placeholder="Message "></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="contact-input-box text-right">
                                                    <input class="glbscl-link-btn hvr-bs" type="submit" name="submit"
                                                        id="submit" value="Submit">
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 footer-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="footer-widget">
                            <h2 class="fw-title" style="text-align: center"><span> {% name %}</span></h2>
                            <p class="text">
                                <style type="text/css">
                                    b {
                                        font: 500px;
                                    }
                                </style>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h2 class="fw-title"><span>Quick Link:</span></h2>
                            <ul class="links">
                                <li><a href="{% url 'estimates-quotations' %}"><span style="font-size: 15px;">Estimates
                                            & Quotations</span></a></li>
                                <li><a href="{% url 'accounting-reporting' %}"><span style="font-size: 15px;">Accounting
                                            & Reporting</span></a></li>
                                <li><a href="{% url 'expenses-management' %}"><span style="font-size: 15px;">Expenses &
                                            Purchases</span></a></li>
                                <li><a href="{% url 'invoicing-billing' %}"><span style="font-size: 15px;">Invoicing &
                                            Billing</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h2 class="fw-title">Get in Touch</h2>
                            <ul class="address">
                                <li><span class="icon"><i class="fa fa-phone"></i></span>
                                    {% phone_number %}

                                </li>
                                <li><span class="icon"><i class="fa fa-envelope"></i></span>
                                    {% Emailaddress %}
                                </li>
                                <li><span class="icon"><i class="fa fa-map-marker"></i></span>
                                    {% physical_address %}
                                </li>
                            </ul><br>
                            <ul class="social">
                                <li><a href="{%facebook%}" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="{%youtube%}" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 footer-bottom-area">
            <p class="copyright" style="text-align: center;">
                {% company_footer %}
                <script>new Date().getFullYear() > 2010 && document.write(+ new Date().getFullYear());</script>
                Powered by<a href="https://www.pamojagroupltd.com" target="_blank"> <b
                        style="font-size: 90%; color: yellow"> Pamoja(G) Ltd</b></a>
            </p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.js' %}"></script>
</body>
</html>