

<!DOCTYPE html>
<html lang="en">

<head>
    <script
        src="//platform-api.sharethis.com/js/sharethis.js#property=5c8e45b6da6ca80012e29a9c&product=sticky-share-buttons"></script>
    {% load static  %}
    {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    {{ form.media }} {# Adds date-picker required JS and CSS #}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{% static 'img/uccb.jpg' %}" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta charset="ISO-8859-15">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta %}

    <title>Data Master</title>

    {% block stylesheets %}

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">
    <!--LOAD THEMES-->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/front/classy-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/front/jquery.fancybox.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/front/theme/slate-gray.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/front/theme/light-sea-green.css' %}" >
    <link rel="stylesheet" href="{% static 'css/front/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/top_header.css' %}">

    <script src="{% static 'js/front/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    {% endblock stylesheets %}
    {% endblock head %}

</head>

<body>

    <header>
        <div class="row" style="margin-right: 1px; background: #e8f5f8 ;">
            <div class="col-lg-12 header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                            <div class="hta-box">
                                <p class="text"><b>DATAMASTER</b></p>
                            </div>
                            <div class="hta-box">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <p class="text">Call us :</p>
                            </div>
                            <div class="hta-box">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                                <p class="text">Email us :</p>
                            </div>
                            <div class="hta-box">
                                <span class="icon"><i class="fa fa-pencil"></i></span>
                                <p class="text">P.O.Box :</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 header-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="#" alt="" />
                                </a>

                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="menu">
                                <nav id="mobile_menu_active">
                                    <ul id="menu">
                                        <li><a href="#"><b style="color:black">Features</b><span class="icon fa fa-chevron-down"></span></a>
                                            <ul class="drop">
                                                <li><a href="#">Estimates</a></li>
                                                <li><a href="#">Billing</a></li>
                                                <li><a href="#">Expenses</a></li>
                                                <li><a href="#">Reporting</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><b style="color:black">Help</b></a></li>
                                        <li><a href="#"><b style="color:black">Blog</b></a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
   <div class="row" style="margin-right: 1px; background: #e8f5f8 ;">
    <div class="col-lg-12 footer-bottom-area">
        <p class="copyright" style="text-align: center;">
            <span style="font-size:2vw"> Still thinking? What are you waiting for!</span>
            <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">Start For Free
            </a>
        </p>
    </div>
    <div class="col-lg-12 footer-top-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="footer-widget">
                        <h2 class="fw-title" style="text-align: center"><span> DATA Master</span></h2>
                        <p class="text">
                            <style type="text/css">
                                b {
                                    font: 500px;
                                }
                            </style>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h2 class="fw-title"><span>Quick Link:</span></h2>
                        <ul class="links">
                            <li><a href="#">Features</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h2 class="fw-title">Get in Touch</h2>
                        <ul class="address">
                            <li><span class="icon"><i class="fa fa-phone"></i></span>
                                Phonr\e

                            </li>
                        </ul><br>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12 footer-bottom-area">
        <p class="copyright" style="text-align: center;">
            DataMaster@
            <script>new Date().getFullYear() > 2010 && document.write(+ new Date().getFullYear());</script>
            Powered by<a href="#" target="_blank"> <b style="font-size: 90%; color: yellow"> Pamoja(G) Ltd</b></a>
        </p>
    </div>
    </div>
    
    <!-- Scripts -->
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.js' %}"></script>
</body>

</html>