{% extends 'base.html' %}
{% block content %}
{% load static  %}


<!-------------------------------------------All Features---------------------------------------------->
<div class="row" style="margin-right: 1px;">
    <div class="container-fluid" style="height:650px; background: #e8f5f8 ;">
        {% if request.get_full_path == "/online-estimates-and-quotations"  %}
        <h1 style="text-align: center;  font-family:Candara, Sans-Serif; font-size:32px; ">
            {{sub}}</h1>
        <br>
        <h5 style="text-align: center;">{{description}}</h5><br />
        <p style="text-align: center;"><a href="#" class="btn crose-btn" data-animation="fadeInUp"
                data-delay="700ms">Request Now
            </a></p>
        <div class="img" style="height: 180px; text-align: center;">
        {% if demo %}
        <img src="{{ demo.url}}" alt="">
        {% endif %}
        </div>


        {% elif request.get_full_path == "/online-invoicing-and-billing"  %}
        <h1 style="text-align: center;  font-family:Candara, Sans-Serif; font-size:32px; ">
            Simple online invoicing software</h1>
        <br>
        <h5 style="text-align: center;">Manage clients, create invoices, log payment against invoices, track unpaid invoices and much more.</h5>
        <br />
        <p style="text-align: center;"><a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">Request
                Now
            </a>
        </p>
        <!-- <div class="img" style="height: 180px; text-align: center;">
            <img class="round-circle" src="{% static 'img/estimates_demo.JPG' %}" alt="">
        </div> -->

        {% elif request.get_full_path == "/expenses-management"  %}
        <h1 style="text-align: center;  font-family:Candara, Sans-Serif; font-size:32px; ">
            Online expenses management software</h1>
        <br>
        <h5 style="text-align: center;">Manage vendors, create custom expense categories, log and track expenses.</h5>
        <br />
        <p style="text-align: center;"><a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">Request
                Now
            </a>
        </p>
        <!-- <div class="img" style="height: 180px; text-align: center;">
                    <img class="round-circle" src="{% static 'img/estimates_demo.JPG' %}" alt="">
                </div> -->

        {% elif request.get_full_path == "/simple-online-accounting"  %}
        <h1 style="text-align: center;  font-family:Candara, Sans-Serif; font-size:32px; ">
            Simple online accounting software</h1>
        <br>
        <h5 style="text-align: center;">Just create invoices & log your expenses leave the accounting part to the app!.</h5>
        <br />
        <p style="text-align: center;"><a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">Request
                Now
            </a>
        </p>
        <!-- <div class="img" style="height: 180px; text-align: center;">
                            <img class="round-circle" src="{% static 'img/estimates_demo.JPG' %}" alt="">
                        </div> -->
        {% else %}
        <div class="title">
            <p style="font-size:3vw">{{request.get_full_path}}<span> Module</span></p>
        </div>
        {% endif %}
        
    </div>
</div><br>
<div class="row" style="margin-right: 1px;">
    <div class="container">
        {% for feature in details %}
        <div class="col-lg-4" style="visibility: visible; animation-name: fade;height: 250px;">
            <div class="single-news">
                <div class="img" style="height: 90px; text-align: center;">
                    {% if feature.Feature_Sub_Image %}
                    <img src="{{ feature.Feature_Sub_Image.url }}" alt="">
                    {% endif %}
                </div>
                <div class="content" style="text-align: center;">
                    <h2 class="title">{{ feature.Feature_Sub_Title }}</h2>
                    <p class="text">
                        {{ feature.Feature_Sub_Description|truncatewords:20|linebreaks }}
                    </p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div><br>

{% endblock %}