{% extends 'base.html' %}
{% block content %}
{% load static  %}
<div class=" container justify-content-center" style="max-width: 1333px; background-color:ivory;">
    <div class="row">
        
    </div>

    <hr />
    <!-------------------------------------------About Pamoja with sliding Images---------------------------------------------->
    <div class="row" style="margin-right: 1px;">
       
    </div>
    <hr />
    <!-----------------------------------------Social Media Section------------------------------------------------->
    <div class="row" style="margin-right: 1px;">
       
    </div>
    <hr />
    <!-----------------------------------------Website Feedback------------------------------------------------->
    <div class="row" style="margin-right: 1px;">
        
    </div>

    <hr />

    <!------------------------------------------------Website Footer----------------------------------------------->
</div>
</div>
{% endblock %}
